= form_with url: search_path, method: :get, local: true, class: 'form-search' do |f|
  . class='form-group'
    = f.text_field :query,
                    value: @raw_query,
                    placeholder: 'What find...',
                    class: 'form-control input-text'

    . class='input-group mt-3'
      = select_searchable_context(f)

    . class='input-group mt-3'
      = select_per_page(f)

  . class='form-group text-right'
    = f.submit 'Find', class: 'btn button-access'
