.button-access,
.button-decline {
  background-color: $shoe-medium-2;
  border-style: 1px solid $shoe-medium-1;
  color: white;
  &:hover {
    background-color: $shoe-medium-1;
    color: white;
  }
}

.button-decline {
  background-color: $shoe-danger-medium-1;
  &:hover {
    background-color: $shoe-danger-strong-1;
  }
}
