/**
 * Color theme 'Shoe'
 * http://color.romanuke.com/tsvetovaya-palitra-1755/
 */
$shoe-strong-1: #275362;
$shoe-strong-2: #407a61;
$shoe-medium-1: #88996c;
$shoe-medium-2: #abbd8c;
$shoe-medium-3: #ece2dd;
$shoe-light-1: #f8f1f4;
$shoe-alert-1: #c26d75;
