/**
 * Color theme 'Shoe'
 * http://color.romanuke.com/tsvetovaya-palitra-1755/
 */
$shoe-strong-1: #275362;
$shoe-strong-2: #407a61;
$shoe-medium-1: #88996c;
$shoe-medium-2: #abbd8c;
$shoe-medium-3: #ece2dd;
$shoe-light-1: #f8f1f4;

$shoe-danger: #c26d75;

$shoe-danger-strong-1: #854357;
$shoe-danger-medium-1: #a7556e;

$shoe-info-strong-1: #606a8a;
$shoe-info-medium-1: #6481A8;
