.form-search,
.new_question,
.form-sign-in,
.form-sign-up,
.form-confirmation-instructions {
  color: $shoe-strong-1;
  padding: 15px;
  .input-text {
    background-color: $shoe-light-1;
    border: 0px;
    border-radius: 0px;
    border-bottom: 2px solid $shoe-strong-1;
  }

  .input-group-text, .custom-select {
    color: $shoe-strong-1;
    background-color: $shoe-light-1;
    border: 0px;
    border-radius: 0px;
    border-bottom: 2px solid $shoe-strong-1;
  }

  .custom-select { text-align: center; }
}

dl.links {
  dd { margin: 0 }
}

