header {
  background-color: #275362;

  a {
    color: white;
    &:hover {
      color: white;
      text-decoration: underline;
    }
    &:visited {
      text-decoration: none;
    }
    &:active {
      color: white;
      text-decoration: underline;
    }
  }
}
