.icon {
  margin-right: 5px;
  margin-left: 5px;
}

.icon-rating { color: $shoe-danger-medium-1; }
.icon-subscription { color: $shoe-medium-1; }
.icon-remote-links { color: $shoe-strong-1; }
.icon-star { color: #D4AF37; }
