// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.link-ask-question, .title {
  color: $shoe-strong-1;
  font-size: 2em;
  &:hover {
    color: $shoe-strong-1;
  }
}

.title { cursor: default; }

.questions {
  /**
   * card
   */
  .question {
    border: 1px solid $shoe-medium-1;
    background-color: $shoe-medium-2;

    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      box-shadow: 0px 0px 5px 1px gray;
    }
    .card-footer { color: $shoe-strong-3; }
  }
}

.card-columns {
  column-count: 4;
}

.new_question, .form-edit-question, .new_answer, .new-comment {
  textarea {
    border: 2px solid $shoe-strong-1;
    background-color: $shoe-light-1;
  }
}

.question-header {
  div { display: inline; }
  .delim { margin: 0px 5px 0px 5px; }
}

.question-overtitle-container {
  div { display: inline; }
}
