// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.link-ask-question {
  color: $shoe-strong-1;
  font-size: 2em;
  &:hover {
    color: $shoe-strong-1;
  }
}
.questions {
  .question {
    border: 1px solid $shoe-medium-1;
    background-color: $shoe-medium-2;
    width: 18rem;
    a {
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      box-shadow: 1px 1px 1px black, 0 0 5px gray;
    }
  }
}
